alembic
asyncpg
bcrypt==4.0.1
email-validator
fastapi
httpx
itsdangerous
passlib
pillow
psycopg
psycopg-binary
psycopg-pool
psycopg2-binary
pydantic_settings
python-jose
python-multipart
qrcode
requests
sqlalchemy
uvicorn
werkzeug