@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

@font-face {
    font-family: "Evolventa";
    src: url("/public/Evolventa/Evolventa-Regular.ttf") format("truetype"),
        url("/public/Evolventa/Evolventa-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Evolventa";
    src: url("/public/Evolventa/Evolventa-Bold.ttf") format("truetype"),
        url("/public/Evolventa/Evolventa-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Evolventa";
    src: url("/public/Evolventa/Evolventa-Oblique.ttf") format("truetype"),
        url("/public/Evolventa/Evolventa-Oblique.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Evolventa";
    src: url("/public/Evolventa/Evolventa-BoldOblique.ttf") format("truetype"),
        url("/public/Evolventa/Evolventa-BoldOblique.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

main,
.volunteer-form,
.master-form {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 480px) {
    main {
        background-image: url("../assets/back-main-page-xs.jpg");
    }
    .volunteer-form {
        background-image: url("../assets/volunteer-form-xs.jpg");
    }
    .master-form {
        background-image: url("../assets/master-form-xs.jpg");
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    main {
        background-image: url("../assets/back-main-page-s.jpg");
    }
    .volunteer-form {
        background-image: url("../assets/volunteer-form-s.jpg");
    }
    .master-form {
        background-image: url("../assets/master-form-s.jpg");
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    main {
        background-image: url("../assets/back-main-page-m.jpg");
    }
    .volunteer-form {
        background-image: url("../assets/volunteer-form-m.jpg");
    }
    .master-form {
        background-image: url("../assets/master-form-m.jpg");
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    main {
        background-image: url("../assets/back-main-page-l.jpg");
    }
    .volunteer-form {
        background-image: url("../assets/volunteer-form-l.jpg");
    }
    .master-form {
        background-image: url("../assets/master-form-l.jpg");
    }
}

@media (min-width: 1921px) {
    main {
        background-image: url("../assets/back-main-page-f.jpg");
    }
    .volunteer-form {
        background-image: url("../assets/volunteer-form-f.jpg");
    }
    .master-form {
        background-image: url("../assets/master-form-f.jpg");
    }
}
